@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

html,
body,
aside,
main {
  font-family: "Open Sans", sans-serif;
}
aside {
  width: 100%;
  max-width: 500px;
  padding: 65px;
  background-color: #2b5a84;
  color: #fff;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user img {
  border-radius: 50%;
  overflow: hidden;
  width: 210px;
  height: 210px;
  margin-bottom: 35px;
}

.user-name {
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 15px;
}
.user-work {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 80px;
}

.aside-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 35px;
  width: 430px;
}

svg {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  border-radius: 0;
  fill: #fff;
}
.aside-item-title {
  font-size: 25px;
  margin-bottom: 35px;
}
.aside-item-text {
  margin-left: 65px;
  text-align: justify;
}
.aside-subitem {
  margin-bottom: 45px;
}
.aside-subitem .aside-subitem-title {
  display: block;
  margin-bottom: 25px;
  text-transform: uppercase;
  padding-left: 25px;
  text-align: left;
}

.aside-list-item {
  margin-bottom: 15px;
}
.aside__interests {
  display: flex;
  align-items: center;
}

.aside-interests-column {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 25px;
}
.aside__interest-item {
  display: flex;
  margin: 15px 30px 15px 0;
  flex-direction: row;
  align-items: center;
}
.aside-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.aside-my-contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 65px;
}
a {
  text-decoration: none;
  color: #fff;
}
main {
  width: 750px;
  padding: 65px 0 65px 40px;
  background-color: rgb(221, 225, 255);
  border-right: 1px solid rgb(218, 230, 253);
}
.main-item {
  margin-bottom: 60px;
}
.main-item-title {
  font-size: 35px;
  margin-bottom: 35px;
}
.main-item-body {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 15px;
  font-size: 18px;
}
.maim-item-row {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-bottom: 15px;
}
p {
  padding: 0;
  margin: 0 0 20px 0;
}
.main-row-key {
  display: flex;
  align-items: center;
  width: 200px;
  margin-right: 30px;
  margin-top: 0;
}
.main-row-val {
  display: flex;
  align-items: left;
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  align-items: center;
  text-align: center;
}
.main-row-val a {
  text-decoration: none;
  color: black;
}
.main-row-val p {
  margin: 0;
}
.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 35px;
}
.skills-item-key {
  width: 150px;
  margin-right: 20px;
}
.skills-line {
  height: 15px;
  width: 500px;
  background-color: lightgray;
  border-radius: 6px;
  position: relative;
}
.skills-line-70 {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(112, 112, 201);
  width: 350px;
  height: 15px;
  border-radius: 6px;
}
.skills-line-60 {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(112, 112, 201);
  width: 300px;
  height: 15px;
  border-radius: 6px;
}
.skills-line-65 {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(112, 112, 201);
  width: 325px;
  height: 15px;
  border-radius: 6px;
}
