@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

html,
body,
aside,
main {
  font-family: "Open Sans", sans-serif;
}
aside {
  width: 100%;
  max-width: 500px;
  padding: 65px;
  background-color: #2b5a84;
  color: #fff;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user img {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}
.user-img {
  max-width: 100%;
  margin-bottom: 35px;
}
.user-name {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 15px;
}
.user-work {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 80px;
}
.aside-item {
  display: flex;
  align-items: center;
}
.aside-item {
  display: flex;
}

svg {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  fill: #fff !important;
  border-radius: 0;
}
.aside-item-title {
  font-size: 25px;
  margin-bottom: 35px;
}
.aside-item-text {
  padding-left: 60px;
}
